[package]
name = "untitled"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.4.10", features = ["derive"] }
druid = {version= "0.8.3", features = ["image"]  }
image = "0.24.7"
native-dialog = "0.6.4"
